body{
  margin: 10px;
}
.head{
  background: url('../img/back.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;

  .logo{
    width: 100px;
    height: 100px;
    }
  .navbar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px;
  }
  .info{
    color: #FFCC99;
    opacity: 1;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .go{
    background-color: #FFCC99;
    padding: 10px;
    border: solid red;
    color: red;
    height: 20px;
    width: 120px;
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.head::before {
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: #000;
   opacity: .5;
}
.hrHead{
  width: 30%;
}
.center{
  padding-top: 80px;
}

.articles{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;

  img{
    width: 70px;
    height: 70px;
  }

  section{
    width: 18%;
    height: auto;
    padding: 20px;
  }
}

.hrCenter{
  width: 75%;
}
.image{
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.centerPictures{
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-around;
  z-index: 2;

  .left, .right{
    width: 50%;
  }
}
.center h1{
  color: red;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 120, 79, 0.462745098);
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 0;
  transition: .5s ease;

  h5{
    color: white;
    display: flex;
    padding-left: 8px;
  }
  p{
   font-size: 10px;
   display: flex;
   padding-left: 8px;
 }
}

.overlay-lupa{
  position: absolute;
  bottom: 0;
  right: 10px;
  top: 4px;
  overflow: hidden;
  width: 30px;
  height: 0;
  transition: .5s ease;

  .lupa{
    width: 100%;
  }
}
.producto{
  width: 65%;
  position: relative;
  height: 200px;
  padding: 0;
  margin: auto;
  margin-bottom: 40px;
}
.producto:hover .overlay{
  height: 40%;
  width: auto;
}
.producto:hover .overlay-lupa{
  height: 30px;
  width: 30px;
}

  @media (max-width: 767px) {
  body{
    width: 100%;
  }
  .go{
    position: absolute;
    left: 40%;
  }
  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
  }
  .center{
    display: flex;
    flex-direction: column;

    p{
      width: 90%;
      padding-left: 20px;
    }
  }
}
  @media (max-width: 480px) {
    .go{
      position: absolute;
      left: 30%;
    }
    .logo{
      width: 50px;
      height: 50px;
    }
    ul button{
      padding: 5px;
    }
    .navigation{
      float: right;
    }
    .overlay{
      h5, p{
        font-size: 10px;
      }
  }
   }
